absl-py==2.2.2
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiohttp-cors==0.8.1
aiosignal==1.3.2
annotated-types==0.7.0
async-timeout==5.0.1
attrs==25.3.0
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
cloudpickle==3.1.1
colorama==0.4.6
colorful==0.5.6
contourpy==1.3.0
cycler==0.12.1
distlib==0.3.9
dm-tree==0.1.8
eclipse-sumo==1.22.0
Farama-Notifications==0.0.4
filelock==3.17.0
fonttools==4.56.0
frozenlist==1.6.0
fsspec==2025.3.0
google-api-core==2.24.2
google-auth==2.40.0
googleapis-common-protos==1.70.0
grpcio==1.71.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.28.1
idna==3.10
importlib_metadata==8.6.1
importlib_resources==6.5.2
jax-jumpy==1.0.0
Jinja2==3.1.6
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.7
libsumo==1.22.0
lz4==4.4.4
Markdown==3.7
MarkupSafe==3.0.2
matplotlib==3.9.4
mpmath==1.3.0
msgpack==1.1.0
multidict==6.4.3
networkx==3.2.1
numpy==2.0.2
opencensus==0.11.4
opencensus-context==0.1.3
ormsgpack==1.7.0
packaging==24.2
pandas==2.2.3
pillow==11.1.0
platformdirs==4.3.7
prometheus_client==0.21.1
propcache==0.3.1
proto-plus==1.26.1
protobuf==6.30.2
py-spy==0.4.0
pyarrow==6.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.11.4
pydantic_core==2.33.2
pyparsing==3.2.1
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
ray[rllib]==2.9.0
referencing==0.36.2
requests==2.32.3
rpds-py==0.24.0
rsa==4.9.1
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
six==1.17.0
smart-open==7.1.0
stable-baselines3==2.0.0
sumolib==1.22.0
sympy==1.13.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
threadpoolctl==3.6.0
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.4.0
virtualenv==20.31.1
Werkzeug==3.1.3
wrapt==1.17.2
yarl==1.20.0
zipp==3.21.0
